.conteudoLateralEsquerda{
    line-height: 55px;
}

.conteudoLateralEsquerda ul{
    list-style-type: none;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    
}

.conteudoLateralEsquerda img{
    width: 109px;
    height: 39px;
    margin: 34px 20px 10px 21px;
}

.conteudoLateralEsquerda .Profile{
    margin-top: auto;
  }

