.Stories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.Story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 10px 7px;
    padding: 10px 0;
    gap: 0;
}

.Story img {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    border: 1px solid orange;
    
}

.Story .nome-usuario {
    font-size: small;
}

.nome-usuario p {
    margin: 0;
}