.Stories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    gap: 1.5em;
}

.Story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}

.Story img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 2px solid #fada62;
    
}

.Story .nome-usuario {
    font-size: small;
}

.nome-usuario p {
    margin: 0;
}