body {
  background: #ffffff;
  padding-left: 18vw;
}

#root {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.conteudoLateralDireita,
.conteudoLateralEsquerda,
.conteudoCentral {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.conteudoLateralEsquerda {
  display: flex;
  position: fixed;
  width: 18vw;
  background: white;
  line-height: 20px;
  box-shadow: 0px 0px 1px black;
  left: 0;
}

.conteudoLateralDireita {
  background: blue;
  width:40vw;
}

.conteudoCentral {
  width: 65vw;
  background: #ffffff;
}

